footer {
    position: relative;
    height: 75px;
    margin-top: -75px;
}

footer nav {
    font-size: 12px;
    width: 600px;
    padding-top: 25px;
    margin: 0 auto;
    color: var(--basic-text-color)
}