.terminal {
    display: flex;
}

.terminal-input {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    size: inherit;
    flex-grow: 1;
    padding-left: 11px;
}

.terminal-content p {
    margin: 0;
}

.terminal-input {

}
