.hidden {
    display: none;
}

.wb-body {
    background: #111;
    padding: 20px;
}

.terminal-content {
    font-size: 20px;
}

.command-line {
    display: flex;
    width: 100%;
}

.command-line input {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    flex-grow: 1;
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.terminal-content p {
    margin: 0;
}

.terminal-output-single {
    margin-bottom: 12px;
}

