.hidden {
    display: none;
}

.wb-body {
    background: #111;
    padding: 20px;

}

.terminal-content {
    font-size: 20px;
}

.command-line-input {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.terminal-content p {
    margin: 0;
}
